<div class="card card-block text-xs-center">
	<div class="card-title">
		<h4>AC</h4>
		<a class="btn btn-danger btn-card-close" (click)="turnOff()"><i class="fa fa-power-off" aria-hidden="true"></i></a>
	</div>
	<div class="card-text">
		<div class="form-group text-xs-center">
			<input type="text" class="form-control m-x-auto" [(ngModel)]="temp" placeholder="Temperature" />
		</div>
		<div class="form-group text-xs-center">
			<switch [onText]="'HOT'" [offText]="'COLD'" [(status)]="mode" [onColor]="'red'" [offColor]="'blue'" ></switch>
			<br/>
		</div>
	</div>

	<a href="#" class="btn btn-primary" (click)="sendCommand()">Send</a>

</div>