<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-off bootstrap-switch-normal"  (click)="toggleStatus()" [style.width]="_mainWidth + 'px'">
	<div class="bootstrap-switch-container"  [@statusChange]="_statusStr" [style.width]="_containerWidth + 'px'">
        <span class="bootstrap-switch-handle-on" [ngClass]="_onColor" [style.width]="_switchWidth + 'px'">{{onText}}</span>
        <span class="bootstrap-switch-label"[style.width]="_switchMiddleWidth + 'px'"></span>
        <span class="bootstrap-switch-handle-off " [ngClass]="_offColor" [style.width]="_switchWidth + 'px'">{{offText}}</span>
    </div>
</div>